body {
    background: url("http://localhost:8888/movimiento_juventud/assets/images/stardust.png");
    background-repeat:  repeat;
    width: 100vw;
}

.form-wrapper {
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    width: 70%;
    max-width: 800px;
    margin-top: -20px;
    padding-top: 5px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 100px;
    background: white;
}

.form-row {
    margin-top: 5px;
    margin-bottom: 5px;
}


footer {
    position: relative;
    bottom: 0;
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

.wrapper {
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    width: 70%;
    max-width: 800px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background: white;
}

.cover {
    position: relative;
    max-width: 800px;
}

.cover > img {
    width: 100%;
}

.no-margin {
    padding-top: 0;
    padding-left: 0;
}

.top {
    margin-top: 100px;
}

.terms {
    color: #2E96FF;
}

input + label {
    vertical-align: middle;
}

.send-art {
    background: #1F1F1F;
    color: white;
}

.btn_bottom {
    width: 49%;
    display: inline-block;
    font-weight: 700;
}

.fecha {
    width: 32%;
    display: inline-block;
}

.contest-wrapper {
    position: relative;
    margin-top: 150px;
    width: 100%;
    max-width: 800px;
    margin-bottom: 50px;
}

.contest-wrapper > .container {
    position: relative;
    width: 100%;
    margin-top: -85px;
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 5;
    -o-column-count: 5;
    -ms-column-count: 5;
    column-gap: 5px;
    -webkit-column-gap: 5px;
    -o-column-gap: 5px;
    -moz-column-gap: 5px;
    -ms-column-gap: 5px;
}

.contest-option {
    position: relative;
    width: 100%;
    margin-top: 5px;
    vertical-align: top;
    display: inline-block;
}

.contest-option > img {
    width: 100%;
}

.menu-title {
    width: 100%;
    height: 50px;
    background: white;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    padding-left: 10px;
    color: #1F1F1F;
    background: white;
    text-align: center;
}

.contest-description {
    position: absolute;
    z-index: 2;
    top: 0%;
    text-align: center;
    width: 750px;
    height: 100%;
    background: rgba(0,0,0,0.5);
    line-height: 250px;
}

.menu-wrapper {
    position: relative;
    margin-top: 100px;
    width: 100%;
    max-width: 800px;
    padding-bottom: 50px;
}

.contest-container {
    height: 50px;
    cursor: pointer;
    margin-top: 5px;
}

.contest-thumb {
    width: 50px;
}

.contest-thumb > img {
    width: 100%;
}

.cnts {
    display: inline-block;
    vertical-align: middle;
}

.contest-name {
    height: 50px;
    background: white;
    line-height: 50px;
    font-family: "Raleway";
    padding-left: 20px;
    width: 745px;
    padding-right: 20px;
    font-weight: 600;
}

.contest-container:hover .contest-name, .contest-container:hover .contest-thumb {
    box-shadow: 0px 0px 10px white;
}

.error-box {
    background: #FF3355;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.error-box:first-child:before {
    content: "Advertencia:";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.error-box:first-child {
    padding-top: 20px;
}

.error-container > p {
    margin: 0;
    padding: 0;
}

.error-container > .warning:before {
    content: "";
}

.error-container > p:before {
    content: "-";
}

.big {
    font-size: 16px;
    text-transform: uppercase;
}

.error404 {
    margin-top: 20vh;
    padding: 5vw;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    
    h1 {
        font-size: 2em;
    }
    
    .cover {
        width: 90%;
    }
    
    .form-wrapper {
        position: relative;
        width: 90%;
        padding-bottom: 30px;
        margin-top: -20px;
    }
    
    .wrapper {
        width: 90%;
    }
    
    .fecha {
        width: 29%;
        display: inline-block;
    }
    
    .contest-name {
        width: 83%;
    }
    
}