<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title> Movimiento Juventud 2015 </title>
	<body>
		<h1>Feria Diseño</h1>
		<h3>Datos del Establecimiento:</h3>
		<label>Nombre Del Establecimiento</label>
	</br>
		<input type="text"  name="nombre_establecimiento"/>
	</br>
		<label>Dirección</label>
	</br>
		<input type="text"  name="direccion_establecimiento"/>
	</br>
		<label>Teléfono</label>
	</br>
		<input type="text"  name="telefono_establecimiento"/>
	</br>
		<label>Email</label>
	</br>
		<input type="text"  name="mail_establecimiento"/>
	</br>
		</br>
		</br>
	<h3>Datos del Representante:</h3>
			<label>Nombre del Representante</label>	</br>
            <input type="text" name="nombre_encargado"/></br>
            <label>Teléfono/Celular Representante</label></br>
            <input type="text" name="telefono_encargado"/></br>
            <label>Email del Representante</label>	</br>
            <input type="text" name="mail_encargado"/>	</br>
	</br>
	</br>
	<h3>Categoría</h3>
		<h3>Individual</h2>
		</br>
	<h3>Datos del Participante:</h3>
		<label>Nombre Del Participante</label></br>
		<input type="text"  name="nombre_participante"/>
		<label>Telefono/Celular</label></br>
		<input type="text"  name="telefono_participante"/></br>
		<label>Email</label></br>
		<input type="text"  name="mail_participante"/></br>
		<h3>Ramas</h3>
	</br>
		<label>Diversificado</label>
	</br>
		<input type="radio" name="diver"/>
	</br>
		<label>Diseño Arquitectónico</label>
	</br>
		<input type="radio" name="arqui"/>
	</br>
		<label>Animaciones Creativas</label>
	</br>
		<input type="radio" name="crea"/>
	</br>	
		<label>Diseño Gráfico </label>
	</br>
		<input type="radio" name="grafi"/>
	</body>
</html>
