<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title> Movimiento Juventud 2015 </title>
	<body>
		<h1>Feria Tecnologica-Cientifica</h1>
		<h3>Datos del Establecimiento:</h3>
		<label>Nombre Del Establecimiento</label>
	</br>
		<input type="text"  name="nombre_establecimiento"/>
	</br>
		<label>Direecion</label>
	</br>
		<input type="text"  name="direccion_establecimiento"/>
	</br>
		<label>Telefono</label>
	</br>
		<input type="text"  name="telefono_establecimiento"/>
	</br>
		<label>Email</label>
	</br>
		<input type="text"  name="mail_establecimiento"/>
	</br>
		</br>
		</br>
	<h3>Datos del Representante:</h3>
			<label>Nombre del Representante</label>	</br>
            <input type="text" name="nombre_encargado"/></br>
            <label>Teléfono/Celular Representante</label></br>
            <input type="text" name="telefono_encargado"/></br>
            <label>Email del Representante</label>	</br>
            <input type="text" name="mail_encargado"/>	</br>
	</br>
	</br>
	<h3>Categoria</h3>
		<h3>Individual</h2>
		</br>
	<h3>Datos del Participante:</h3>
		<label>Nombre Del Participante</label></br>
		<input type="text"  name="nombre_participante"/>
		<label>Telefono/Celular</label></br>
		<input type="text"  name="telefono_participante"/></br>
		<label>Email</label></br>
		<input type="text"  name="mail_participante"/></br>
		<h3>Ramas</h3>
	</br>
		<label>Ciencias Naturales</label>
	</br>
		<input type="radio" name="nat"/>
	</br>
		<label>Fisica</label>
	</br>
		<input type="radio" name="fis"/>
	</br>
		<label>Quimica</label>
	</br>
		<input type="radio" name="qui"/>
	</br>	
		<label>Biologia</label>
	</br>
		<input type="radio" name="biolo"/>
	</body>
</html>
