<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title> Movimiento Juventud 2015 </title>
	<body>
		<h1>Informatica</h1>
		<label>Nombre Del Establecimiento</label>
	</br>
		<input type="text"  name="nombre_establecimiento"/>
	</br>
		<label>Dirección</label>
	</br>
		<input type="text"  name="direccion_establecimiento"/>
	</br>
		<label>Teléfono</label>
	</br>
		<input type="text"  name="telefono_establecimiento"/>
	</br>
		<label>Email</label>
	</br>
		<input type="text"  name="mail_establecimiento"/>
	</br>
		</br>
		</br>
		<h3>Categoría</h3>
		<h3>Individual</h2>
		</br>
		<label>Nombre Del Participante</label></br>
		<input type="text"  name="nombre_participante"/>
		<label>Telefono/Celular</label></br>
		<input type="text"  name="telefono_participante"/></br>
		<label>Email</label></br>
		<input type="text"  name="mail_participante"/></br>
		<h3>Ramas</h3>
	</br>
		<label>Animaciones</label>
	</br>
		<input type="radio" name="ani"/>
	</br>
		<label>Aplicaciones en la Web</label>
	</br>
		<input type="radio" name="web"/>
	</br>
		<label>Aplicaciones Moviles</label>
	</br>
		<input type="radio" name="mov"/>
	</body>
</html>
