<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title> Movimiento Juventud 2015 </title>
	<body>
		<h1>Feria Matematica/h1>
		<h3>Datos del Establecimiento:</h3>
		<label>Nombre Del Establecimiento</label>
	</br>
		<input type="text"  name="nombre_establecimiento"/>
	</br>
		<label>Direecion</label>
	</br>
		<input type="text"  name="direccion_establecimiento"/>
	</br>
		<label>Telefono</label>
	</br>
		<input type="text"  name="telefono_establecimiento"/>
	</br>
		<label>Email</label>
	</br>
		<input type="text"  name="mail_establecimiento"/>
	</br>
		</br>
		</br>
	<h3>Datos del Representante:</h3>
			<label>Nombre del Representante</label>	</br>
            <input type="text" name="nombre_encargado"/></br>
            <label>Teléfono/Celular Representante</label></br>
            <input type="text" name="telefono_encargado"/></br>
            <label>Email del Representante</label>	</br>
            <input type="text" name="mail_encargado"/>	</br>
	</br>
	</br>
	<h3>Categoria</h3>
		<h3>Grupal</h2>
		</br>
	<h3>Datos del Grupo:</h3>
		<label>Nombre Del Grupo</label></br>
		<input type="text"  name="nombre_grupo"/></br>
		<label>Cantidad de Integrantes</label></br>
		<input type="text"  name="numero_integrantes"/></br>
		<h3>Ramas</h3>
		<h3>Basico</h3>
		<input type="radio" name="basico"/>
	</br>
		<label>Pedagogico</label>
	</br>
		<input type="radio" name="peda"/>
	</br>
		<label>Informatico</label>
	</br>
		<input type="radio" name="info"/>
	</br>
		<h3>Diversificado</h3>
		<input type="radio" name="diver"/>
	</br>
		<label>Pedagogico</label>
	</br>
		<input type="radio" name="peda"/>
	</br>
		<label>Informatico</label>
	</br>
		<input type="radio" name="info"/>
	</body>
</html>